* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #0a3871;
  --color-bg: #f3f5fc;
  --color-btn-hover: #1e5eac;
  --color-alert-bg: #a7cdfc;

  --height-footer: 50px;

  --fs-user-text: 32px;
}
body {
  background-color: var(--color-bg);
  font-family: 'Inter', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
/* .wrapper > * {
  outline: solid 1px red;
} */
.wrapper > main {
  height: calc(100vh - var(--height-footer));
}
.wrapper > footer {
  height: var(--height-footer);
}

main.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}
main.container > * {
  /* outline: 1px solid blue; */
  padding: 1rem;
}
main.container > header {
  flex-grow: 1;
}

/* USER TEXT STYLES */
main.container > .user-text {
  flex-grow: 7;
  display: flex;
  flex-direction: column;
}
main.container > .user-text > textarea {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: var(--fs-user-text);
  color: var(--color-primary);
  resize: none;
  outline: none;
  flex-grow: 10;
}
main.container > .user-text > .btns-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
}
.btn {
  padding: 0.7rem;
  border: solid 1px var(--color-primary);
  border-radius: 0.7rem;
  width: 100%;
  color: var(--color-primary);
  transition: all ease 0.7s;
}
.btn.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-bg);
}
.btn:hover {
  background-color: var(--color-btn-hover);
  color: var(--color-bg);
  cursor: pointer;
}

/* RESULT TEXT STYLES */
main.container > .result-text {
  flex-grow: 3;
  padding: 1rem;
  min-width: 300px;
}
main.container > .result-text div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100%;
  border-radius: 1rem;
  padding: 1rem;
}
main.container > .result-text span {
  text-align: center;
  display: block;
}
main.container > .result-text span.highlight {
  font-size: 24px;
  font-weight: 700;
  margin-block-end: 0.5rem;
}
main.container > .result-text img {
  width: 80%;
  margin-block-end: 2rem;
  display: none;
}
.alert {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
  color: var(--color-primary);
  border: solid 1px var(--color-btn-hover);
  border-radius: 1rem;
  width: calc(100% - 2rem);
  background-color: var(--color-alert-bg);
  transition: all 0.5s ease;

  transform: translate3d(0, 0px, 0);
  opacity: 1;
}
.alert.hidden {
  transform: translate3d(0, -20px, 0);
  opacity: 0;
}

/* FOOTER */
footer {
  color: var(--color-btn-hover);
  text-align: center;
}
footer a {
  margin: 0 0.2rem;
  color: var(--color-btn-hover);
  text-decoration: none;
  transition: all ease 0.5s;
}
footer a:hover {
  margin: 0 0.2rem;
  color: var(--color-primary);
}

/* MEDIA QUERIES */

/* tablet */
@media (min-width: 375px) {
  main.container > .user-text > .btns-container {
    flex-direction: row;
  }
}

/* desktop*/
@media (min-width: 768px) {
  main.container {
    flex-direction: row;
  }
  .btn {
    padding: 0.7rem;
    border: solid 1px var(--color-primary);
    border-radius: 0.7rem;
    width: 100%;
    max-height: 50px;
    color: var(--color-primary);
    transition: all ease 0.7s;
  }
  main.container > .result-text img {
    display: block;
  }
}
